.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
}

.modal-image {
    max-width: 100%;
    border-radius: 10px;
}

.speak-button {
    background: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.speak-button:hover {
    background: #45a049; /* Slightly darker shade on hover */
}

.close-button {
    background: #ff7e5f;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
    margin-top: 10px;
    transition: background 0.3s ease;
}

.close-button:hover {
    background: #feb47b;
}
